body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e6f4f9;
}

h2{  
    color: #0b425a;
}

nav{
    background-color: #cfe8f3;
    padding: 10px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

p{
    max-width: 700px;
    margin: 15px auto;
}

strong{
    color:#0b425a;    
}

footer{
    background-color: #4f8ea8;
    color: white;
    text-align: center;
    padding: 15px;
}

main {
    padding-bottom: 30px;
}
