body{
    background-color: burlywood;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*szép az élet amíg meg nem basznak*/

Body{
	backgound-color: nigh
}

* {
  cursor: help;
}
thead{
    text-align: center;
}